h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color:gold;

}
canvas
{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}